#airport-view-container {
    width: 50%;
    right: 0%;
    height: 100vh;
    background-image: url(./img/outside_plane_window.png);
    box-shadow: 1px 0 5px -1px #f4ab31;
}

#airport-view-title-container {
    width: 99%;
    vertical-align: auto;
}


#airport-view-body-container {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgba(52, 42, 41, 0.5);
    box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 12px;
    height: 65vh;
    display: flex;
    flex-direction: row;
}


#airport-view-box-one {
    height: 100%;
    width: 100%;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#airport-view-box-one:hover {
    background-color: rgba(52, 42, 41, 0.9);
}

.airport-hidden-text {
    display: none;
}

#airport-view-box-one:hover .airport-hidden-text {
    display: block;
}

#airport-view-box-one:hover h2 {
    display: none;
}

#airport-view-box-two {
    height: 100%;
    width: 100%;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#airport-view-box-two:hover {
    background-color: rgba(52, 42, 41, 0.9);
}

#airport-view-box-two:hover .airport-hidden-text {
    display: block;
}

#airport-view-box-two:hover h2 {
    display: none;
}

#airport-view-box-three {
    height: 100%;
    width: 100%;
    text-align: center;
}

#airport-view-box-three:hover {
    background-color: rgba(52, 42, 41, 0.9);
}

#airport-view-box-three:hover .airport-hidden-text {
    display: block;
}

#airport-view-box-three:hover h2 {
    display: none;
}

h2 {
    font: 700 30px Century Gothic, Arial;
    font-weight: bold;
    color: white;
    margin-top: 100%;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    margin-left: 30px;
    margin-right: 30px;
}

h1 {
    font: 700 70px Century Gothic, Arial;
    font-weight: bolder;
    color: white;
    margin: 0;
    font-style: italic;
    text-shadow: 3px 3px 0px rgba(254,184,46,255.2);
    margin-left: 30px;
    margin-right: 30px;
}

h1.left {
    text-align: left;
}

h1.center {
    text-align: center;
}

h1.right {
    text-align: right;
}

h1 img{
    width: 75px;
    height: 50px;
    transform: skewX(-10deg);
    opacity: 0.75;
    border-radius: 5px;
}

p {
    font: 700 15px Century Gothic, Arial;
    font-weight: bold;
    color: white;
    margin: 10;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}