#main-container {
    height: 100vh;
    width: 99vw;
    display: flex;
    overflow: hidden;
}


img {
    width: auto;
    height: 100%;
}

#chinatown-title-container {
    float:left; /* add this */
    border: 1px solid red;
}

#noodle-stand-image-container {
    border: 1px solid green;
    float: left; /* add this */
}

.placeholder-text-title {
    font: 700 20px Century Gothic, Arial;
    color: white;
    -webkit-text-stroke: 3px;
    font-size: 6em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    text-shadow: -10px 10px 0px black
}