.flag-button {
    width: 5%;
    height: 3%;
	position: relative;
    background: none;
	color: inherit;
	border: none;
	padding: 1;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	opacity: 0.8;
}

.flag-button-image {
	border-radius: 5px;
}