#airport-main-container {
    height: 100vh;
}

#singapore-map-image-container {
    position: relative;
  }

#singapore-map-image {
    position: relative;
}

#singapore-map-image-container img{
    position: relative;
    width: auto;
    height: auto;
}

  
#singapore-title-container {
    position: relative;
}

.icon-container {
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 100%;
}


#plane-arrival-icon-button-container {
    top: 35%;
    left: 75%;
    border: 2px solid white;
}

#tree-icon-button-container {
    top: 35%;
    left: 40%;
    border: 2px solid green;
}

#china-town-icon-button-container {
    top: 57%;
    left: 42%;
    border: 2px solid red;
}

#gardens-by-bay-icon-button-container {
    top: 59%;
    left: 48%;
    border: 2px solid turquoise;
}


.main-default-map-view-container{
    width: 50%;
    position: absolute;
    left: 25%;
    transition: left 1s;

    
}

.main-default-map-view-container.animate-slide-right {
    left: 50%;
    opacity: 0.5;
}

.main-default-map-view-container.fade-out {
    -webkit-animation: fadeout 1s linear forwards;
    animation: fadeout 1s linear forwards;
}

.main-default-map-view-container.fade-in {
    -webkit-animation: fadein 1s linear forwards;
    animation: fadein 1s linear forwards;
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.main-default-map-view-container.hide {
    display: none;
}

#singapore-main-container {
    position: relative;
    width: 99vw;
    height: 99vh;
}

#tree-top-walk-main-container {
    position: absolute;
    top: 200vh;
}
