#airport-main-container {
    height: 100vh;
}

#singapore-map-image-container {
    position: relative;
  }

#singapore-map-image {
    position: relative;
}

#singapore-map-image-container img{
    position: relative;
    width: auto;
    height: auto;
}

  
#singapore-title-container {
    position: relative;
}

#plane-arrival-icon-button-container {
    position: absolute;
    width: auto;
    height: auto;
    top: 35%;
    left: 75%;
}

#tree-icon-button-container {
    position: absolute;
    width: auto;
    height: auto;
    top: 35%;
    left: 40%;
}


.main-default-map-view-container{
    width: 50%;
    position: absolute;
    left: 25%;
    transition: left 1s;

    
}

.main-default-map-view-container.animate-slide-right {
    left: 50%;
    opacity: 0.5;
}

.main-default-map-view-container.fade-out {
    -webkit-animation: fadeout 1s linear forwards;
    animation: fadeout 1s linear forwards;
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

.main-default-map-view-container.hide {
    display: none;
}

#singapore-main-container {
    position: relative;
    width: 99vw;
    height: 99vh;
}

#tree-top-walk-main-container {
    position: absolute;
    top: 200vh;
}
