#main-default-map-view-container{
    position: relative;
    border: 1px solid black;
    transition:1s;
}

#singapore-map-image-container {
    position: relative;
  }

  
#singapore-title-container {
    position: relative;
}

#singapore-map-icon-container-default-view {
    position: absolute;
    width: 35px;
    height: 25px;
    top: 35%;
    left: 75%;
}



.main-default-map-view-container{
    position: absolute;
    left: 25%;
    transition: left 1s;
}

.main-default-map-view-container.icon-clicked {
    left: 50%; 
}

#singapore-main-container {
    width: 99vw;
    height: 99wh;
}

