#sub-title-text {
    font: 900 40px Century Gothic, Arial;
    font-size: 1.20em;
    font-weight: bolder;
    margin-top: 0px;
    color: white;
    margin-bottom: 0px;
    text-align: center;
}

#main-title-text {
    font: 900 40px Century Gothic, Arial;
    color: #ddcecb;
    -webkit-text-stroke: 3px;
    font-size: 6em;
    margin-top: 0px;
    margin-bottom: 0px;
}


