#sub-title-text {
    font: 100 20px Century Gothic, Arial;
    font-weight: lighter;
    margin-top: 0px;
    color: white;
    text-align: center;
}

#main-title-text {
    font: 700 40px Century Gothic, Arial;
    color: white;
    -webkit-text-stroke: 3px;
    font-size: 6em;
    margin-top: 0px;
    margin-bottom: 0px;
}


