
li {
    list-style: none;
    margin: 0;
    padding: 0;
  }


#tree-top-walk-carousel {
    height: 100vh;
    width: 99vw;
    perspective: 100px;
}

#slides-container-li {
    display: flex;
}

.slide {
    position: absolute;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 99vw;
    height: 100vh;
}

#slide-1 {
    display: inline;
    background-image: url(./img/singapore/treetopwalk/singapore_jungle_vector.svg);
    background-size: 100%;
    overflow: hidden;
}

#slide-1 #tree-top-walk-info-box {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 35vh;
    left: 35vw;
    background-color: rgba(52, 42, 41, 0.9);
    color: white;
}

#slide-1 span {
    color: white;
    font: 900 200% Century Gothic, Arial;
    text-shadow: 2px 2px 0px black
}

#slide-2 {
    display: none;
    background-image: url(./img/singapore/treetopwalk/monkeys.png);
    background-size: auto;
}

#slide-3 {
    display: none;
    background-image: url(./img/singapore/treetopwalk/cade_on_bridge.png);
    background-size: auto;
}

#slide-4 {
    display: none;
    background-image: url(./img/singapore/treetopwalk/cerys_on_walkway.png);
    background-size: auto;
}

#slide-5 {
    display: none;
    background-image: url(./img/singapore/treetopwalk/cade_with_monkeys.png);
    background-size: auto;
}

#slide-6 {
    display: none;
    background-image: url(./img/singapore/treetopwalk/cade_with_umbrella.png);
    background-size: auto;
}

#slide-7 {
    display: none;
    background-image: url(./img/singapore/treetopwalk/cerys_with_tree.png);
    background-size: auto;
}

.control-button {
    position: relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    margin: 10px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.arrow {
    width: 15px;
    padding: 1%;
    height: 15px;
    border: 10px solid #ffffff;
    border-left: 0;
    border-top: 0;
}

.arrow-right { transform: rotate(-45deg); }

.arrow-left { transform: rotate(135deg); }

#next-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

#previous-button {
    position: absolute;
    bottom: 0;
}

#return-to-map-button {
    position: absolute;
}